$grey : rgb(248, 244, 244);
$green: #4bbfa5;
.App {
  .header {
    position: fixed;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid;
    border-color: $grey;
    // background-color: red;
    &-title{
        font-family: inherit;
        font-size: 30px;
        line-height: 70px;
        margin-left: 30px;
    }
  }
  .main {
    display: flex;
    justify-content: space-between;
    padding-top: 71px;
    height: 700px;
    .left-side {
      padding: 15px;
      flex: 0 0 150px;
      background-color: $grey;
      .profile {
        font-size: 18px;
        margin-bottom: 15px;
      }
      .list {
        .list-item {
            border-radius: 5px;
            padding-left: 5px;
          width: 100%;
          line-height: 40px;
          &:hover { background-color: #b1aeb1; }
          &-list {
            margin-left: 15px;
            &-item{
                &:hover { background-color: #b1aeb1; }
            }
          }
          .title {
            .tag {
              height: 10px;
              width: 10px;
              background: url("https://ss1.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/image/h%3D300/sign=92afee66fd36afc3110c39658318eb85/908fa0ec08fa513db777cf78376d55fbb3fbd9b3.jpg");
            }
          }
        }
      }
    }
    .right-side {
      flex: 1;
      margin: 10px 30px;
      .tips {
        background-color: $grey;
        padding: 10px;
        border-radius: 5px;
        border-left: 6px solid;
        border-color: rgb(206, 206, 11);
        .text {
          line-height: 30px;
        }
      }
      .progress {
        margin: 30px 0;
        &-text {
          color: $green;
          line-height: 24px;
        }
        &-bar {
          height: 10px;
          background-color: $grey;
          border-radius: 10px;
          &-percent {
            width: 30%;
            border-radius: 10px;
            height: 10px;
            background-color: $green;
          }
        }
      }
      .triangle{
          height: 0;
          width: 0;
          border-top: 40px solid transparent; 
          border-left: 40px solid transparent; 
          border-right: 40px solid transparent; 
          border-top: 40px solid #ff0000; 

      }
      .goals {
        .goals-title {
          font-size: 30px;
          margin-bottom: 10px;
        }
        .goals-list {
          border-top: 1px solid;
          border-color: $grey;
          .goals-list-item {
            height: 40px;
            line-height: 40px;
            border-bottom: 1px solid;
            border-color: $grey;
          }
        }
        .add-btn{
            margin: 10px 0;
            height: 30px;
            line-height: 30px;
            border-radius: 5px;
            border: 1px solid;
            border-color: $green;
            color: $green;
            padding: 0 5px;
            width: fit-content;
        }
        .add-todo{
            color: $green;
            margin: 10px 0;
        }
        .add-file{
            color: $green;
        }
      }
    }
  }
}
